<%#= button_to :add_new_seller, new_admin_product_price_path @product, method: :get %>
<table>
  <tr>
    <th>Seller</th>
    <th>Link</th>
    <th>price</th>
  </tr>
  <% @product.prices.each do |p| %>
    <tr>
      <td><%= p.seller %></td>
      <td><%= p.link %></td>
      <td><%= p.price %></td>
      <td><%= button_to :add_new_price, edit_admin_product_price_path(@product, p), method: :get %></td>
    </tr>
  <% end %>
</table>