<h1>New Brand</h1>

<h2>Add a New Brand:</h2>
<%== form_for @brand, url: :admin_brands, method: :post do |f| %>
  <p>
    <%== f.label :name %><br>
    <%== f.text_field :name %>
  </p>
  <%== f.submit %>
<% end %>