<div>
  <table>
    <tr>
      <td>
        <%= link_to :Index, :root %>
      </td>
      <td>
        <% if is_admin? %>
          <h1>You are Logged In, <%= current_admin.name %></h1>
          <%= button_to 'Sign Out', :admin_logout, method: :post%></td>
        <%end%>
      </td>
    </tr>
  </table>
</div>