<script>
  setTimeout(function(){
    window.location.href = '/';
  }, 2000);
</script>

<p>You do not have enought permission to view other user's profile</P>

<p>Web page redirects after 2 seconds.</p>