
<h1>New Category</h1>

<h2>Add a New Category:</h2>
<%= form_for @category, url: :admin_categories, method: :post do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
    <%= f.submit %>
  </p>
<% end %>